<?xml version="1.0" encoding="utf-8" ?>
<system.diagnostics>
    <sources>
        <source name="Kappa" switchValue="Verbose">
            <listeners>
                <add name="console" />
                <add name="svclog" />
            </listeners>
        </source>
        <source name="Waterbot" switchValue="Verbose">
            <listeners>
                <add name="console" />
                <add name="svclog" />
            </listeners>
        </source>
        <source name="WaterbotServer" switchValue="Verbose">
            <listeners>
                <add name="console" />
                <add name="svclog" />
            </listeners>
        </source>
    </sources>
    <sharedListeners>
        <add name="console" 
             type="System.Diagnostics.ConsoleTraceListener">
        </add>
        <add name="svclog" 
             type="System.Diagnostics.XmlWriterTraceListener"
             initializeData="Waterbot.svclog">
            <filter type="System.Diagnostics.EventTypeFilter" 
                    initializeData="Information" />
        </add>
    </sharedListeners>
    <trace autoflush="true">
        
    </trace>
</system.diagnostics>